<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>Sevlets.Log</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Adduser</servlet-name>
        <servlet-class>Sevlets.Adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>Sevlets.Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Savedates</servlet-name>
        <servlet-class>Sevlets.Savedates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>events</servlet-name>
        <servlet-class>Sevlets.events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Events2</servlet-name>
        <servlet-class>Sevlets.Events2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Formstatus</servlet-name>
        <servlet-class>Sevlets.Formstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>Sevlets.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Sevlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvDays</servlet-name>
        <servlet-class>Sevlets.AvDays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addemployee</servlet-name>
        <servlet-class>Sevlets.Addemployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deletedate</servlet-name>
        <servlet-class>Sevlets.Deletedate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDates</servlet-name>
        <servlet-class>Sevlets.UpdateDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatemployee</servlet-name>
        <servlet-class>Sevlets.Updatemployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmp</servlet-name>
        <servlet-class>Sevlets.DeleteEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvDays2</servlet-name>
        <servlet-class>Sevlets.AvDays2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adduser</servlet-name>
        <url-pattern>/Adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Savedates</servlet-name>
        <url-pattern>/Savedates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Events2</servlet-name>
        <url-pattern>/Events2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Formstatus</servlet-name>
        <url-pattern>/Formstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/Changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvDays</servlet-name>
        <url-pattern>/AvDays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addemployee</servlet-name>
        <url-pattern>/Addemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deletedate</servlet-name>
        <url-pattern>/Deletedate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDates</servlet-name>
        <url-pattern>/UpdateDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatemployee</servlet-name>
        <url-pattern>/Updatemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmp</servlet-name>
        <url-pattern>/DeleteEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvDays2</servlet-name>
        <url-pattern>/AvDays2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
